body {
    background-image: url("../resources/img/mechanism.jpg");
    background-size: cover;
    margin: 0;
}

#topbox {
    width: 100%;
    height: 8vh;
    line-height: 50px;
    background: rgba(245, 5, 5, 0.46);
    text-align: center;
    box-shadow:0 0 100px 30px white;
}

.topText {
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

#clock {
    position: relative;
    display: flex;
    top: 25vh;
    left: 26.5vw;
    height: 50vh;
}

.indicator {
    height: 180px;
    width: 107px;
    border-bottom: 4px solid red;
    border-top: 4px solid red;
}

.left {
    border-left: 4px solid red;
}

.right {
    border-right: 4px solid red;
}

.dots {
    height: 180px;
    width: 28px;
    border-bottom: 4px solid red;
    border-top: 4px solid red;
}

#date {
    position: relative;
}

#table {
    position: absolute;
    top: 18vh;
    left: 50vw;
    height: 50px;
    width: 250px;
    background-color: black;
    transform: translateX(-50%) translateY(-50%);

    color: yellow;
    text-align: center;
    vertical-align: top;
    font-size: 26px;
    padding-top: 15px;
}

.next-page {
    position: relative;
    border-radius: 40px;
    height: 60px;
    width: 200px;
    font-size: 40px;
    left: 50vw;
    top: 10vh;
    transform: translateX(-50%) translateY(-50%);
    background-color: blue;
    color: white;
    font-weight: bold;

    background-image: linear-gradient(#26a626, #26a626);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size .5s, color .5s;
}

.next-page:hover {
    background-size: 100% 100%;
}
